<div class="jumbotron text-center">
  <h1 class="text-center">Words</h1>

<div id="word-generator">
  <ul class="text-center list-inline">
    <li>
      <a href = "/words/show_all" class="btn btn-primary btn-lg text-center">Work Bitch</a>
    </li>

    <li>
      <h2 class="text-center">
        <%= @word %>
      </h2>
    </li>

  </ul>
</div>


</div>
