/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-sprockets';

//Used to keep footer at bottom.
html {
 position: relative;
 min-height: 100%;
}

body {
 // Margin bottom by footer height - match with footer height */
 margin-bottom: 50px;
}

.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 // Set the fixed height of the footer here */
 height: 50px;
}

.navbar.navbar-default {
  border-bottom: none;
  margin: 0;
}

//scroll for word table
.scroll {
  height: 350px;
  width: 100%;
  overflow: auto;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
}

//sizing bootstrap glyphs
.glyphicon-pencil {
  font-size: 1.4em;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

//add word
.add {
margin-top: 0px;
padding-top: 0px !important;
}

//text box around words Generated
.randomWord {
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  height: 60px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #eeeeee;
}
h2.generated {
  margin-top: 12px;
}

#show.container {
  padding-top: 0px;
  // text-align:center;
}

